:root {
  --accent-color: #ff6b01;
  --white-color: #ffffff;
  --dark-color: #000000;
  --gray-color: #545454;
  --error-color: #ff001b;
  --transform-bgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
