main {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;

  @media screen and (min-width: 1024px) {
    justify-content: start;
    gap: 30px;
  }

  &__nofound {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nofoundimg {
    width: 70%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &__nofoundtext {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__nofoundbtn {
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 14px 38px 12px 38px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}
.gallery__section {
  padding-top: 50px;
  padding-bottom: 50px;
}

$img-height: 398px;
$img-width-mobile: 280px;
$img-width-tablet: 294px;
$img-width-desktop: 274px;

.gallery__item {
  width: $img-width-mobile;

  @media screen and (min-width: 768px) {
    width: $img-width-tablet;
  }

  @media screen and (min-width: 1024px) {
    width: $img-width-desktop;
  }
}
.gallery__img {
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
}
.galery__info {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(16 / 12);
}
.gallery__info-name {
  color: #000000;
  text-transform: uppercase;
}

.gallery__info-name {
  margin-top: 10px;
  color: #000000;
  text-transform: uppercase;
}
.gallery__information {
  margin: 0px 10px 0px 0px;
  color: #ff6b08;
}
.gallery__rating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: #ffffff;
}
