.hero {
  margin: 0 auto;
  height: 230px;

  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../img/bg_library_x2.jpg);
  // @media screen and (min-width: "480px") {
  //   background-image: url(../img/bg_library_x1.jpg);
  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url(../img/bg_library_x2.jpg);
  //   }
  // }
  // @media screen and (min-width: "1024px") {
  //   background-image: url(../img/bg_library_x1.jpg);
  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url(../img/bg_library_x2.jpg);
  //   }
  // }
}
