// .header {
//   height: 230px;
//   background-image: url(../img/bg_library_x1.jpg);
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: url(../img/bg_library_x2.jpg);
//   }
//   object-fit: cover;
// }

.hero1 {
  margin: 0 auto;
  height: 230px;

  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/desktop-1x.jpg);
}
.hero1-search {
  //   position: relative;
  padding-top: 113px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 336px;
  border-bottom: 0.5px solid #ffffff;
}

.hero1-input {
  outline: none;
  border: none;
  font-size: 14px;
  line-height: calc(16 / 14);
  background-color: transparent;
  color: #ffffff;
}

.btn-hero1 {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}
.hero1-no-search-name {
  margin-top: 22px;
  font-size: 14px;
  line-height: calc(16 / 14);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ff001b;
}
